clickhouse:
  image:
    repository: clickhouse/clickhouse-server
    tag: "24.1.1-alpine"
    pullPolicy: IfNotPresent

replicaCount: 1

healthcheck:
  initialDelaySeconds: 30
  periodSeconds: 10
  timeoutSeconds: 5
  failureThreshold: 3


clickhouseConfig:
  maxConnections: 4096
  maxConcurrentQueries: 100
  logPath: /var/log/clickhouse-server/


updateStrategy:
  type: RollingUpdate

resources:
  requests:
    cpu: 100m
    memory: 512Mi
  limits:
    cpu: 2000m
    memory: 2Gi

storage:
  size: 10Gi
  storageClassName: standard

service:
  type: ClusterIP
  httpPort: 8123
  nativePort: 9000

nodeSelector: {}
tolerations: []
affinity: {}

users:
  - name: default
    password: "changeme123"
    quota: "default"
  - name: app_user
    password: "app_secure_password_456"
    quota: "default"
